.container {
  padding-top: 30px;
  border-top: 1px solid #000;
  padding-bottom: 0;
}

.form {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.label {
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
}

.form_control {
  margin: 0 10px;
  margin-bottom: 30px;
}

.submit {
  border: none;
  outline: none;
  background-color: #000;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: all 0.2s ease;
}

.submit:hover {
  background-color: #ff4e00;
}

.input {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: 1px #000 solid;
  outline: none;
}

@media screen and (max-width: 767px) {
  .label {
    font-size: 14px;
  }
  .input {
    font-size: 14px;
    width: 100%;
  }
  .submit {
    display: block;
    align-self: center;
    margin-top: 15px;
    padding: 10px 20px;
  }
  .form {
    flex-direction: column;
  }
  .form_control {
    margin: 0;
    margin-bottom: 10px;
  }
}
