.btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 15px 30px;
  width: max-content;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  outline: none;
  border: none;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #ff4e00;
}
